@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: 400;
}
*{
    margin: 0px;
    padding: 0px;
}

/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
:root{
    --cor00:#c5ebd6;
    --cor01:#83e1ad;
    --cor02:#3ddc84;
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;

    --font-padrao: arial,verdana, helvetica, sans-serif;
    --font-destaque: "Bebas Neue", cursive;
    --font-android: 'Android', cursive; 
}


body{
    background-color: #c5ebd6;
    font-family: var(--font-padrao);
}
.externo::after{
    content: '\00a0\1F517';
}
header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
}
header > h1{
    font-family: var(--font-destaque);
    color: white;
    padding-top: 35px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
    font-weight: normal;
}
header p{
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.212);
    padding-bottom: 50px;
    
}
nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.226);
}
nav > a{
    text-decoration: none;
    padding: 10px;
    color: var(--cor01);
    font-weight: bold;
    border-radius: 5px;
}
nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
    transition-duration: 0.4s;
}
main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px ;
}
main > article > h1{
    font-family: var(--font-android);
    color: var(--cor05);
    font-weight: normal;
}
main > article > h2{
    font-family: var(--font-android);
    color: var(--cor04);
    font-size: 1.5em;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
    font-weight: normal;

}
main > article > picture > img{
    width: 100%;
}
main a{
    text-decoration: none;
    color: var(--cor05);
    font-weight: 600;
    background-color: var(--cor01);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor04);
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 32px;
}
main strong{
    color: var(--cor05);
    font-weight: bolder;
    
}
.video{
    background-color: #063d1e;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 56.5%;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
}
aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0' ;

}
aside h3{
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;

    
}
footer a:hover{
    color: var(--cor01);
    text-decoration: underline;
}